
.color-circle {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #dadada;
}

.priorities p {
  margin: 0 !important;
}

.little {
  display: inline-block;
  font-size: 14px;
  color: rgba(99, 99, 99, 0.98);
  padding: 5px;
  border-radius: 3px;
}

.little:hover {
  background: rgba(103, 58, 183, 0.3);
}

.color-delete {
  color: #ea6561;
}

.color-edit{
  color: #9a9a9a;
}

