@import "assets/styles/material-dashboard.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap-css-only/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.not-found {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
}

.pointer {
  cursor: pointer;
}

.size25 {
  font-size: 25px !important;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-container {
  padding: 40px !important;
}

.red {
  color: red;
}

.green {
  color: green;
}

.divider {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}




