<div class="sidebar" data-color="purple" data-background-color="white">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  -->
  <div class="logo">
    <span class="nav-title">Категории</span>
    <span class="add-icon-area">
      <button mat-icon-button class="add-icon" (click)="openAddDialog()" title="Добавление категории">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </div>
  
  <div class="sidebar-wrapper">
    <ul class="nav">

      <!-- виртуальная категория "Все" -->
      <li class="nav-item pointer category" (click)="showTasksByCategory(null)"
        [class.active]="selectedCategory === null">
        <a class="nav-link categories-title">
          <!-- название категории -->
          <span>Все</span>
        </a>
      </li>

      <!-- разделитель -->
      <div class="divider"></div>

      <li class="nav-item pointer" *ngFor="let category of categories; let index = index"
        (click)="showTasksByCategory(category)" (mouseleave)="showEditIcon(null)" (mouseenter)="showEditIcon(index)"
        [class.active]="category === selectedCategory">
        <a class="nav-link">
          <span class="category-title">{{ category.title }}</span>

          <!-- кнопка редактирования категории -->
          <span class="edit-category-icon-area">
            <mat-icon *ngIf="indexMouseMove === index || isMobile || isTablet" (click)="$event.stopPropagation(); openEditDialog(category)"
              class="edit-category-icon">
              edit
            </mat-icon>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>